<article>
    <header>
        <h1><%= @recipe.name %></h1>
    </header>
g
    <h3>Ingredientes:</h3>

    <p><%= @recipe.stuff %></p>

    <h3>Modo de preparo:</h3>

    <p><%= @recipe.prepare_mode %></p>

    <h3>Calorias:</h3>

    <p><%= @recipe.calories %></p>
</article>
<%= link_to "Receitas", recipes_path %>